[submodule "view/lib/wikibase-data-values-value-view"]
	path = view/lib/wikibase-data-values-value-view
	url = https://github.com/wikimedia/data-values-value-view.git
[submodule "view/lib/wikibase-serialization"]
	path = view/lib/wikibase-serialization
	url = https://github.com/wmde/WikibaseSerializationJavaScript.git
[submodule "view/lib/wikibase-data-values"]
	path = view/lib/wikibase-data-values
	url = https://github.com/wmde/DataValuesJavaScript.git
[submodule "view/lib/wikibase-data-model"]
	path = view/lib/wikibase-data-model
	url = https://github.com/wmde/WikibaseDataModelJavaScript.git
[submodule "view/lib/wikibase-termbox"]
	path = view/lib/wikibase-termbox
	url = https://github.com/wikimedia/wikibase-termbox.git

[submodule "lib/resources/wikibase-api"]
	path = lib/resources/wikibase-api
	url = https://github.com/wikimedia/wikibase-javascript-api.git
